<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Fábrica de Software</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="manifest" href="/assets/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" />

    <link rel="stylesheet" href="../styles/lib/bootstrap-reboot.css" />
    <link rel="stylesheet" href="../styles/theme.css" />

    <script type="module" src="../scripts/app.js"></script>

    <script type="module" data-gwd-opt="static" src="/components/navigation.js"></script>
    <script type="module" data-gwd-opt="static" src="/components/footer.js"></script>
    <script type="module" data-gwd-opt="static" src="/components/team.js"></script>
    <script type="module" data-gwd-opt="static" src="/components/projects.js"></script>
    
    <script async defer data-website-id="5bfe3feb-0dd3-493a-b07d-c9161923532b" src="http://umami.fabsoftware.itp.ifsp.edu.br/umami.js"></script>
    
  </head>
  <body>
    <app-header></app-header>
    <main>
      <page-outlet></page-outlet>
    </main>
    <app-footer></app-footer>
  </body>
</html>
