.footer{
    background-color:#26272b;
    padding:20px 5px 10px;
    font-size:15px;
    color:#737373;
    text-align:center;
  }

  .footer img{
    max-width: 1.5rem;
  }

  .footer a:hover{
    text-decoration:none;
  }

  .footer-fab{
    color:#fff;
    font-size:25px;
    text-decoration: none
  }

  .footer-p{
    color:white;
    margin: 5px 0;
  }