@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin-top: 0;
  font-size: 17px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


a{
  color:#fd624c;
  word-wrap: break-word;
}

.main h2 {
  font-size: 3rem;
  margin: 3rem 0 1rem;
}

.container {
  width: 80vw;
  margin: 1.5rem auto;
}

footer {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 5%;
}

.bg-index {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress%20cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 60px);
  text-align: center;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  padding-bottom: 60px;
}

.bg-index img {
  max-width: 13rem;
  margin-bottom: 2rem;
}

.bg-index h1 {
  font-size: 4.4rem;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 5px;
}

.bg-index h2 {
  color: #fd624c;
  font-weight: 700;
}

main {
  flex:1;
}

.main {
  text-align: center;
}

router-outlet {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main section {
  margin-bottom: 4rem;
}

.membros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4rem;
  text-align: center;
  margin-top:2rem;
}

.membro {
  max-width: 15rem;
}

.membro img {
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.membro a {
  display: inline-block;
  font-size: 1.5rem;
  color:#fd624c;
  font-weight: 600;
}

.membro a:hover {
  font-weight: bold;
  color:#fd624c;
}

.depoimentos-videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

@media (max-width: 770px) {
  .depoimentos-videos {
    justify-content: center;
  }
}

.banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top:2rem;
}

.banners figcaption {
  /*font-size: 1.3rem;*/
  font-weight: 500;
}

.banners img {
  width: 20rem;
  height: 10rem;
  margin-bottom: 1rem;
  object-fit: contain;
}