---
import { getCollection } from "astro:content";
const membros = await getCollection('membros');
import TesteLayout from '../layouts/BaseLayout.astro'
import Membro from '../components/Membro.astro'
const teamList = []
for(let i = 0; i < membros.length; i++){
  if(teamList.indexOf(membros[i].data.date.slice(4, 11).trim()) === -1 && membros[i].data.date.slice(4, 11).trim() != 'prof'){
    teamList.push(membros[i].data.date.slice(4, 11).trim())
  }
}
teamList.sort((a, b) => Number(a.slice(4, 6)) - Number(b.slice(4, 6)));
---

<script>
    const listBtn = document.querySelectorAll(".btn");
    
    if(localStorage.getItem("storageName") != null) {
        document.querySelectorAll(".membro").forEach(e => {
          e.style.display= 'none';          
        });
        document.querySelectorAll(`.${localStorage.getItem("storageName")}`).forEach(e => {
          e.style.display = '';
        });
        document.querySelectorAll(".teamprof").forEach(e => {
          e.style.display = '';
        });  
    }

    listBtn.forEach(btn => {
      btn.addEventListener('click', (e) => {
        const ano = btn.getAttribute("data-ano");
        localStorage.setItem("storageName", ano);
        document.querySelectorAll(".membro").forEach(e => {
          e.style.display= 'none';          
        });
        document.querySelectorAll(`.${ano}`).forEach(e => {
          e.style.display = '';
        });
        document.querySelectorAll(".teamprof").forEach(e => {
          e.style.display = '';
        });    
      })
    })
</script>


<TesteLayout pageTitle="Membros">

      <nav class="flex items-center justify-center">
            <div>
              {teamList.map((team) => 
                <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano={team}>Equipe {team.slice(4, 6)}</button>
              )}
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team">Todos os Membros</button>
            </div>
      </nav>

    <div class="flex justify-evenly py-[2rem]">
      <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-[4rem] gap-x-[10rem] justify-center ">
        {membros.map((membro) => <Membro frontmatter={membro.data} />)}
      </div>
    </div>  
</TesteLayout>   