---
import MarkDownLayout from '../layouts/MarkDownLayout.astro'
import Membro from '../components/Membro.astro'

const allPosts = await Astro.glob('./membros/*.md');

---

<script>
      const listBtn = document.querySelectorAll(".btn");
    
    listBtn.forEach(btn => {
      btn.addEventListener('click', (e) => {
        const ano = btn.getAttribute("data-ano");
        document.querySelectorAll(".membro").forEach(e => {
          e.style.opacity= 0.5;
        });
        document.querySelectorAll(`.${ano}`).forEach(e => {
          e.style.opacity = 1;
        });
        document.querySelectorAll(".teamprof").forEach(e => {
          e.style.opacity = 1;
        });    
      })
    })
</script>


<MarkDownLayout title="Membros">

      <nav>
            <div>
                  <button class="btn" data-ano="team">Todos os Membros</button>
                  <button class="btn" data-ano="team23">Equipe 23</button>
                  <button class="btn" data-ano="team22">Equipe 22</button>
                  <button class="btn" data-ano="team21">Equipe 21</button>
                  <button class="btn" data-ano="team20">Equipe 20</button>
                  <button class="btn" data-ano="team19">Equipe 19</button>
            </div>

      </nav>

      <div class="membros">
            {allPosts.map((post) => <Membro frontmatter={post.frontmatter} />)}
      </div>
</MarkDownLayout>


<style>
      .membros {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

          ul {
            list-style:none;
            text-align:center;
          }

          a {
            color:#fd624c;
          }

          .shelf {
            display: flex;
            flex-wrap: wrap;
            align-itens: center;
            gap: 3vw;
            margin: 1.5vw 0; 
          }

          .shelf > li {
            display: flex; 
            flex-direction: column;
            align-items: center; 
            justify-content: center;
          }

          .shelf > li > a {
            width: 150px;
          }

          .btn {
            background-color: #fd624c;
            color: white;
            border-radius: 7px;
            padding: 5px;
            border: none;
            font-size: 19px;
            margin: 2.5px;
          }

          .btn:hover {
            cursor: pointer;
            background-color: #fd402c;
          }

          @media (max-width: 900px){
            .shelf {
              justify-content: center;
            }
          }

      
</style>