---
import TesteLayout from '../layouts/BaseLayout.astro'
import Membro from '../components/Membro.astro'

const allPosts = await Astro.glob('./membros/*.md');

---

<script>
      const listBtn = document.querySelectorAll(".btn");
    
    listBtn.forEach(btn => {
      btn.addEventListener('click', (e) => {
        const ano = btn.getAttribute("data-ano");
        document.querySelectorAll(".membro").forEach(e => {
          e.style.display= 'none';          
        });
        document.querySelectorAll(`.${ano}`).forEach(e => {
          e.style.display = '';
        });
        document.querySelectorAll(".teamprof").forEach(e => {
          e.style.display = '';
        });    
      })
    })
</script>


<TesteLayout pageTitle="Membros">

      <nav class="flex items-center justify-center">
            <div>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team">Todos os Membros</button>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team24">Equipe 24</button>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team23">Equipe 23</button>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team22">Equipe 22</button>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team21">Equipe 21</button>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team20">Equipe 20</button>
                  <button class="btn bg-primary hover:bg-[#fd402c] text-secondary rounded-[7px] p-[5px] font-[19px] m-[2.5px] cursor-pointer" data-ano="team19">Equipe 19</button>
            </div>
      </nav>

    <div class="flex justify-evenly py-[2rem]">
      <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-[4rem] gap-x-[10rem] justify-center ">
        {allPosts.map((post) => <Membro frontmatter={post.frontmatter} />)}
      </div>
    </div>  
</TesteLayout>   