---
import MarkDownLayout from '../layouts/MarkDownLayout.astro'
import Projeto from '../components/Projeto.astro'

const allPosts = await Astro.glob('./projetos/*.md');
---

<MarkDownLayout title="Projetos">
    <div >
          {allPosts.map((post) => <Projeto frontmatter={post.frontmatter} />)}
    </div>
</MarkDownLayout>