---
import TesteLayout from '../layouts/TesteLayout.astro'
import Projeto from '../components/Projeto.astro'

const allPosts = await Astro.glob('./projetos/*.md');
---

<TesteLayout pageTitle="Projetos">
    <div class="flex flex-col items-center gap-[4rem]">
          {allPosts.map((post) => <Projeto frontmatter={post.frontmatter} />)}
    </div>
</TesteLayout>