---
import { getCollection } from "astro:content";
const projetos = await getCollection('projetos');
import TesteLayout from '../layouts/BaseLayout.astro';
import Projeto from '../components/Projeto.astro';
---

<TesteLayout pageTitle="Projetos">
    <div class="flex flex-wrap justify-center items-center gap-[4rem] my-8">
          {projetos.map((projeto) => <Projeto frontmatter={projeto.data} />)}
    </div>
</TesteLayout>