---
const {way, img, name, position} = Astro.props;
---

    <div class="flex justify-center items-center flex-col gap-y-10 border-2 border-primary w-[18rem] h-[26rem] bg-tertiary rounded-xl transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
        <a href={way}>
            <img src={img} alt={name} class="size-[12rem] rounded-full"></img>      
            <span class="capitalize text-primary font-bold text-xl">{way.replace("/membros/", " ").replace("-", " ")}</span>
        </a>
        <small class="capitalize text-secondary font-semibold text-lg">{position}</small>
    </div>