---

---

<footer
  class="bg-black text-center py-8 border-t border-white/10 text-sm text-gray-500"
>
  <p>
    &copy; 2025 Fábrica de Software IFSP Itapetininga. Todos os direitos
    reservados.
  </p>
</footer>
