---
import '../styles/footer.css'; 
---

<footer class="footer">
        
    <a href="/" class="footer-fab">
        <img src="/logo-oficial.png" alt="logo oficial">
        <span class="footer-fab">Fábrica de Software<span>
    </a>

    <p class="footer-p">Somos um grupo de desenvolvimento procurando por novas e criativas soluções para ajudar pessoas com nossos produtos em seus objetivos.</p>
    <p>Desde 2019</p>

</footer>