---
import '../styles/footer.css'; 
---

<footer class="text-center bg-[#26272b] pt-[20px] pr-[5px] pb-[10px] font-[15px] color-[#737373]">
        
    <a href="/" class="text-white font-[25px] flex items-center justify-center">
        <img src="/logo-oficial.png" alt="logo oficial" class="w-[1.5rem]">
        <span class="footer-fab">Fábrica de Software<span>
    </a>

    <p class="mt-[5px] text-white text-sm">Somos um grupo de desenvolvimento procurando por novas e criativas soluções para ajudar pessoas com nossos produtos em seus objetivos.</p>
    <p class="mt-[5px] text-white text-sm">Desde 2019</p>

</footer>