---
---

<footer class="text-center bg-black pt-[20px] pr-[5px] pb-[10px] font-[15px] color-[#737373]">
        
    <a href="/" class="text-white font-[25px] flex items-center justify-center gap-2">
        <img src="/logo-claro.svg" alt="logo oficial" class="w-[1.5rem]" />
        <span class="text-2xl">Fábrica de Software<span>
    </a>

    <p class="mt-[5px] text-white text-md">Somos um grupo de desenvolvimento procurando por novas e criativas soluções para ajudar pessoas com nossos produtos em seus objetivos.</p>
    <p class="mt-[5px] text-white text-md">Desde 2019</p>

</footer>