---
---
<nav class="bg-black flex justify-around px-[1rem] items-center h-[5rem] ">
    <a href="/" class="flex gap-3 items-center">
      <img src="/logo-claro.svg" alt="logo oficial" class="w-8 h-8">
      <span class="text-white text-3xl">FabSoftware</span></a>
      <input id="hamburger-toggle" type="checkbox" />
        <label class='hamburger-button-container' for="hamburger-toggle">
          <div class='hamburger-button'></div>
        </label>
    <ul class="hamburger">
        <li><a href="../membros" target="" class="text-white">Equipe</a></li>
        <li><a href="../projetos" target="" class="text-white">Projetos</a></li>
        <li><a href="../sobre" target="" class="text-white">Sobre</a></li>
        <li><a href="https://github.com/fabsoftwareitp" target="_blank" class="text-white">GitHub</a></li>
    </ul>
</nav>

<style>
  /*hamburger*/
.hamburger {
  display: flex;
  flex-direction: row;
  list-style-type: none;

}

.hamburger > li {
  margin: 0 1rem;
  overflow: hidden;
}

.hamburger-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hamburger-toggle {
  display: none;
}

.hamburger-button,.hamburger-button::before,.hamburger-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.hamburger-button::before {
  content: "";
  margin-top: -8px;
}

.hamburger-button::after {
  content: "";
  margin-top: 8px;
}

#hamburger-toggle:checked + .hamburger-button-container .hamburger-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#hamburger-toggle:checked + .hamburger-button-container .hamburger-button {
  background: rgba(255, 255, 255, 0);
}

#hamburger-toggle:checked + .hamburger-button-container .hamburger-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 900px) {
  .hamburger-button-container {
    display: flex;
  }

  .hamburger {
    position: absolute;
    z-index:2;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #hamburger-toggle ~ .hamburger li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #hamburger-toggle:checked ~ .hamburger li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 600ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .hamburger > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .hamburger > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
</style>