---
---
<nav class="menu">
    <a href="/" class="logo">
      <img src="logo-oficial.png" alt="logo oficial">
      <span>FabSoftware</span></a>
      <input id="hamburger-toggle" type="checkbox" />
        <label class='hamburger-button-container' for="hamburger-toggle">
          <div class='hamburger-button'></div>
        </label>
    <ul class="hamburger">
        <li><a href="../membros" target="">Equipe</a></li>
        <li><a href="../projetos" target="">Projetos</a></li>
        <li><a href="../sobre" target="">Sobre</a></li>
        <li><a href="https://github.com/fabsoftwareitp" target="_blank">GitHub</a></li>
    </ul>
</nav>