---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

{/* definição da variável dinâmica */}
const { pageTitle } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A Fábrica de Software é um projeto do IFSP Câmpus Itapetininga, que oferece aos alunos a oportunidade de trabalhar em um ambiente similar ao das empresas, aplicando novas tecnologias de software e desenvolvendo suas competências técnicas e comportamentais relativas a esse ambiente.">
    <meta name="generator" content={Astro.generator} >

    <meta property="og:title" content="Fábrica de software" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fabsoftware.itp.ifsp.edu.br/" />
    <meta property="og:description" content="A Fábrica de Software é um projeto do IFSP Câmpus Itapetininga, que oferece aos alunos a oportunidade de trabalhar em um ambiente similar ao das empresas, aplicando novas tecnologias de software e desenvolvendo suas competências técnicas e comportamentais relativas a esse ambiente.">
    <meta property="og:image" content="https://fabsoftware.itp.ifsp.edu.br/projetos/fabsoftware.png" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

	  <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-[100vh]">
	<Header />
  <main class="flex-1 text-center font-sans bg-background">
    <slot />
  </main>
  <Footer />
  </body>
</html>
