---
import BaseLayout from './BaseLayout.astro';

const {title} = Astro.props;
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={title || frontmatter.name || frontmatter.title}>
    <div class="container prose" >
        <slot />
    </div>
</BaseLayout>