---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

{/* definição da variável dinâmica */}
const { pageTitle } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="generator" content={Astro.generator} >

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <script async defer data-website-id="5bfe3feb-0dd3-493a-b07d-c9161923532b" src="http://umami.fabsoftware.itp.ifsp.edu.br/umami.js"></script>

	  <title>{pageTitle}</title>
  </head>
  <body>
	<Header />
  <main class="flex-1 text-center font-sans">
    <slot />
  </main>
  <Footer />
  </body>
</html>